/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --primary-color: rgba(22, 21, 22, 1);
  --secondary-color: rgba(0, 0, 0, 1);
  --accent-color: #d3337e;
  --text-color: #fff;
}

@font-face {
  font-family: satoshiFontMedium;
  src: url(../../../fonts/Satoshi-Medium.otf);
}

body {
  font-family: satoshiFontMedium;
  background-color: var(--primary-color);
  background-color: #01032a;
  overflow: hidden;
}

/* Container styles */
.fitgirlLauncher {
  display: flex;
  height: 100vh;
}

.settings-container::-webkit-scrollbar,
.sliding-window::-webkit-scrollbar {
  width: 10px;
  background-color: #5514326b;
}

/* Track */
.settings-container::-webkit-scrollbar-track,
.sliding-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}

/* Handle */
.settings-container::-webkit-scrollbar-thumb,
.sliding-window::-webkit-scrollbar-thumb {
  background-color: #7c204b;
  border-radius: 10px;
}

/* Game container */
.game-container::-webkit-scrollbar,
.sliding-window::-webkit-scrollbar {
  width: 10px;
  background-color: #5514326b;
}

/* Track */
.game-container::-webkit-scrollbar-track,
.sliding-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}

/* Handle */
.game-container::-webkit-scrollbar-thumb,
.sliding-window::-webkit-scrollbar-thumb {
  background-color: #7c204b;
  border-radius: 10px;
}

/* End of Game Container */

.sidebar {
  background-color: #01032a;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 100%;
  list-style: none;
  width: 120px;
  padding: 20px 0;
  margin: 0; 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 2;
}



.sidebar li:hover {
  cursor: pointer;
}

.settingsPage {
  margin-top: auto;
}

.logo-container {
  display: flex;
  align-items: none;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7%;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #d3337e;
}

.logo img {
  width: 100%;
  height: 100%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.threeGuys,
.horibar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
  z-index: 2;
}

.threeGuys {
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  background-color: #011b4c;
  border-radius: 30px
}

.threeGuys > * {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* .horibar {
  height: 15%;
  background-color: #01032a;
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
 */
/* .horibar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horibar li {
  padding: 10px;
  cursor: pointer;
}

.horibar a {
  text-decoration: none;
  color: inherit;
} */

.search-icon,
img {
  width: 20px;
  height: 20px;
}

.image-option {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-option:hover {
  background-color: rgba(211, 51, 126, 0.548);
}

.image-option:hover img {
  transform: scale(1.2);
}






/* PART OF THE SINGLE GAME WINDOW ONLY !*/

.single-sliding-image {
  width: 25%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  border-radius: 8px;
  box-shadow: -1px 1px 14px 14px rgb(241 244 245 / 21%);
}

.info-container {
  margin: 2em 0;
  font-family: inherit;
  padding-top: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: pre-wrap;
}
/* Path: src/public/html/parts/settings/settings.css */


.settings-flex {
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 5%;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  flex-direction: row;
  margin-bottom: 70em;
}

/* Settings Container styles */
.settings-container {
padding-top: 120px;
padding-left: 120px;
flex: 1;
z-index: 1;
width: 100%;
list-style: none;
overflow: hidden;
height: 100%;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
overflow-y: scroll;
position: absolute;
}

.list-settings {
list-style: none;
}

/* Highlight menu button depending on selection */
.sidebar .selected-icon {
background-color: white;
}

/* Button styles */
.update-button {
background-color: var(--accent-color);
color: var(--text-color);
border: none;
padding: 8px 16px;
margin-top: 8px;
border-radius: 5px;
cursor: pointer;
}

.update-button:hover {
background-color: #b02a5d;
}

/* Footer styles */
footer {
background-color: #01032a;
color: #fff;
padding: 20px;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}